
<form>
    <div class="input-group">
        <input type="text" class="form-control" name="user" placeholder="Login">
        <span class="input-group-addon"><i class="ion-ios-person"></i></span>
    </div>
    <div class="input-group">
        <input type="text" class="form-control" name="phone" placeholder="Numer telefonu">
        <span class="input-group-addon"><i class="ion-ios-telephone"></i></span>
    </div>
    <div class="input-group">
        <input type="password" class="form-control" name="pass" placeholder="Hasło">
        <span class="input-group-addon"><i class="ion-android-lock"></i></span>
    </div>
    <div class="input-group">
        <input type="password" class="form-control" name="pass" placeholder="Powtórz hasło">
        <span class="input-group-addon"><i class="ion-android-lock"></i></span>
    </div>
    <button type="submit" class="btn">Zarejestruj się</button>
</form>
